/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('material/theme.css');

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 3px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #6200ff;
  border-radius: 4px;
}
body {
  margin: 0;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  text-align: center;
}

#nav-move {
  position: absolute;
  top: 7px;
  border-radius: 13px;
  background: var(--md-sys-color-primary-container);
  left: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.nav-bar {
  height: 7vh;
  width: 100%;
  background-color: var(--md-sys-color-surface);
  display: flex;
  justify-content: flex=start;
}

.control-bar {
  height: 6vh;
  width: 100%;
  background-color: var(--md-sys-color-tertiary-container);
  position: fixed;
  bottom: 0;
  border-top: 5px solid var(--md-sys-color-tertiary);
  display: flex;
  justify-content: space-between;
}

.upload_icon svg {
  height: 3vh;
  margin-top: 1.9vh;
  margin-left: 1vw;
}

.upload_icon svg g path {
  transition: 1s;
  fill: var(--md-sys-color-on-surface);
}

.upload_icon svg g path {
  transition: 1s;
}

.upload_icon:hover svg g path,
.upload_icon:hover {
  fill: #3dff5a;
}

.refresh_icon svg {
  height: 3vh;
  margin-top: 1.5vh;
  margin-right: 0.5vw;
}

.refresh_icon svg g path {
  transition: 1s;
  fill: var(--md-sys-color-on-surface);
}

.refresh_icon:hover svg g path,
.refresh_icon:hover {
  fill: #3dff5a;
}

.library_icon {
  height: 2.5vh;
  width: 2.5vh;
  z-index: 2;
}

.library_icon svg path {
  transition: 1s;
  fill: var(--md-sys-color-on-surface);
}

.album_icon {
  height: 2.5vh;
  width: 2.5vh;
  z-index: 2;
}

.album_icon svg path {
  transition: 1s;
  fill: var(--md-sys-color-on-surface);
}

.search_icon {
  height: 2.5vh;
  width: 2.5vh;
  z-index: 2;
} /* Also see the JS that handles the effect in nav-bar, that's where the px offsets happen */

.search_icon svg g path {
  transition: 1s;
  fill: var(--md-sys-color-on-surface);
}

.playlist_icon {
  height: 2.5vh;
  width: 2.5vh;
  z-index: 2;
}

.playlist_icon svg g path {
  transition: 1s;
  fill: var(--md-sys-color-on-surface);
}

/* Sliding animation instead
.library_icon:hover svg path,
.library_icon:hover {
  fill: #3dff5a;
}
*/

.library {
  margin-top: 1.8vh;
  margin-left: 1.5vw;
  display: flex;
  padding-top: 0.5vh;
}

.albums {
  margin-top: 1.8vh;
  margin-left: 1.5vw;
  display: flex;
  padding-top: 0.5vh;
}

.playlists {
  margin-top: 1.8vh;
  margin-left: 1.5vw;
  display: flex;
  padding-top: 0.5vh;
}

.nav_text {
  margin-left: 0.5vw;
  color: var(--md-sys-color-on-surface);
  font-size: 1.5em;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: 90%;
  z-index: 2;
  text-decoration: none;
}

.search {
  margin-top: 2.3vh;
  margin-left: 1.5vw;
  display: flex;
}

.profile {
  margin-left: auto;
  margin-right: 1vw;
  display: flex;
}

.profile img {
  height: 5vh;
  width: 5vh;
  margin-top: 1vh;
  border: 2px solid var(--md-sys-color-primary);
  border-radius: 50%;
}

.changelog {
  border: 3px solid #613dff;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

/* MATERIAL */

.favorites {
  margin: 2vh;
  padding: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
  flex-wrap: wrap;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 10px;
}

.favorites-alt {
  margin-top: 3vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 0vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
  flex-wrap: wrap;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 10px;
}

.album_bar {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  padding: 1.5vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: left;
  flex-wrap: wrap;
  background-color: var(--md-sys-color-tertiary-container);
  border-radius: 10px;
}

.playlist_title {
  color: var(--md-sys-color-on-tertiary-container);
  font-family: Ubuntu;
  font-size: 3em;
  margin-top: 0vh;
  margin-left: 3vh;
  margin-bottom: 0.2vh;
}

.playlist_artist {
  color: var(--md-sys-color-on-tertiary-fixed);
  font-family: Ubuntu;
  margin-left: 3vh;
  margin-bottom: 0;
  text-align: left;
  font-size: 1.3em;
}

.album_big {
  height: 225px;
  width: 225px;
  border-radius: 7px;
}

.outer-track {
  display: flex;
  flex-direction: column;
}

.top-track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.track-text {
  color: var(--md-sys-color-on-surface);
  font-size: 24px;
}

.song_title-alt {
  font-family: Ubuntu;
  font-size: 2vh;
  text-align: left;
  margin-top: 0.5vh;
  margin-bottom: 0;
  color: var(--md-sys-color-primary)
}

.song_title-alt:hover {
  color: var(--md-sys-color-primary-fixed);
  cursor: pointer;
}

.hov-container {
  background-color: var(--md-sys-color-surface-container);
}

.hov-container:hover {
  filter: brightness(80%);
}

.album_art-alt {
  height: 50px;
  width: 50px;
}

.song_artist-alt {
  font-family: Ubuntu;
  margin-top: 0.5vh;
  margin-bottom: 0;
  text-align: left;
  color: var(--md-sys-color-on-surface);
  font-size: 1.5vh;
}

.favorites_header {
  color: var(--md-sys-color-tertiary);
  font-family: Ubuntu;
  font-size: 2.2em;
  margin-top: 0.5vh;
  margin-left: 3vh;
  margin-bottom: 1vh;
}


.outer-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2vw;
}

.outer-card .img_container img {
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

.card_vert {
  display: flex;
  flex-direction: column;
}

.song_title {
  font-family: Ubuntu;
  font-size: 2vh;
  margin-left: 3vh;
  text-align: left;
  margin-top: 0.5vh;
  margin-bottom: 0;
  text-overflow: ellipsis;
  width: 200px;
  color: var(--md-sys-color-on-surface)
}

.song_artist {
  font-family: Ubuntu;
  margin-left: 3vh;
  margin-top: 0.5vh;
  margin-bottom: 0;
  text-align: left;
  color: var(--md-sys-color-primary);
  font-size: 1.5vh;
  text-overflow: ellipsis;
  width: 200px;
}

.img_container {
  position: relative;
}

.play_hover {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8vh;
  opacity: 0;
  transform: translate(-50%, -40%);
  transition:
    visibility 0s,
    opacity 0.5s linear;
  fill: #3dba93;
}

.album_art {
  height: 200px;
  width: 200px;
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
  border-radius: 7px;
}

.album_art:hover + .play_hover {
  visibility: visible;
  opacity: 1;
  fill: #3dba93;
  transition: fill 100ms linear;
}

.play_hover:hover {
  visibility: visible;
  fill: #613dff;
  opacity: 1;
  transition: fill 100ms linear;
}
