.control_container {
  margin-top: 2vh;
  display: flex;
}

.back_button svg {
  height: 2.5vh;
  width: 2vh;
  z-index: 2;
  margin-left: 1vw;
}

.back_button svg g path {
  fill: var(--md-sys-color-on-tertiary-container);
}

.back_button:hover svg path,
.back_button:hover {
  fill: #000;
}

.pause_button svg {
  height: 2.5vh;
  width: 3vh;
  z-index: 2;
  margin-left: 1vw;
}

.pause_button svg path {
  fill: var(--md-sys-color-on-tertiary-container);
}

.pause_button:hover svg path,
.pause_button:hover {
  fill: #000;
}

.forward_button svg {
  height: 2.5vh;
  width: 2vh;
  z-index: 2;
  margin-left: 1vw;
}

.forward_button svg g path {
  fill: var(--md-sys-color-on-tertiary-container);
}

.forward_button:hover svg g path,
.forward_button:hover {
  fill: #4f7fff;
}
/* Middle Part */

.song_info {
  display: flex;
  margin-left: 2vw;
}

.song_md {
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  margin-left: 0.5vw;
}

.album_photo {
  height: 5vh;
  width: 5vh;
  margin-left: 2vw;
  margin-top: 0.3vh;
}

.song_title_vert {
  font-family: Ubuntu;
  font-size: 2vh;
  text-align: left;
  margin-bottom: 0;
  color: var(--md-sys-color-on-tertiary-container);
}

.song_artist_vert {
  font-family: Ubuntu;
  margin-bottom: 0;
  text-align: left;
  color: var(--md-sys-color-primary);
  font-size: 1.5vh;
}

/* Right Part */

.volume_container {
  display: flex;
  flex-direction: row;
  margin-right: 1vw;
}

.volume_button svg {
  height: 4vh;
  width: 3vh;
  z-index: 2;
  margin-top: 1vh;
}

.shuffle_button svg {
  height: 4vh;
  width: 3vh;
  z-index: 2;
  margin-left: 0.5vw;
  margin-top: 1vh;
}

.shuffle_button svg g path {
  fill: var(--md-sys-color-on-tertiary-container);
}

.shuffle_button:hover svg g path,
.shuffle_button:hover {
  fill: #4f7fff;
}

.loop_button svg {
  height: 3vh;
  width: 2.5vh;
  z-index: 2;
  margin-left: 0.5vw;
  margin-top: 1.5vh;
}

.loop_button svg g path {
  fill: var(--md-sys-color-on-tertiary-container);
}

.loop_button:hover svg g path,
.loop_button:hover {
  fill: #4f7fff;
}


.volume_button svg path {
  fill: var(--md-sys-color-on-tertiary-container);
}
