{{page-title "UMLA"}}
<link rel="stylesheet" href="assets/css/welcome.css">
<NavBar/>
<h1 class="welcome">Welcome to UMLA</h1>
<h2>Check out the changelog <a href="/changelog">here!</a></h2>
{{outlet}}
<ControlBar/>
